{% extends "base.html" %}
{% block body %}

<label>
<input type="checkbox" id="actualCheckbox"> Скачать для актуализации (документы с последними измменениями)
</label>
</br>
{% for db in dbs %}
<!-- <form action="/download/{{db}}" method="GET">
	<input type="submit" value="Скачать {{db}}" class="btn btn-link"/>
</form> -->
<button id="{{db[0]}}" class="btn btn-link" onclick="return(downloadDB(this))">Скачать {{ db[1] }}</button>
<!--<div id="progressCounter_{{db}}"></div><br>-->
<div id="loading_{{db[0]}}" hidden="true"></div><br>

{% endfor %}

{% endblock %}
