{% extends "base.html" %}
{% block body %}

<label>
<input type="checkbox" id="actualCheckbox"> Скачать для актуализации (документы с последними измменениями)
</label>
</br>

<!-- <form action="/download/{{db}}" method="GET">
	<input type="submit" value="Скачать {{db}}" class="btn btn-link"/>
</form> -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>Реестр</th>
			<th>Создан</th>
			<th>Актуализирован</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for db in dbs %}
		<tr>
			<td><button id="{{ db[0] }}" class="btn btn-link" onclick="return(downloadDB(this))">{{ db[1].reg_name }}</button></td>
			<td>{{ db[1].created }}</td>
			<td>{{ db[1].modified }}</td>
			<td><div id="loading_{{ db[0] }}"></div><br></td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
