{% extends "base.html" %}
{% block body %}
	<h3> Описание работы с веб-каталогом реестров прогнозных ресурсов </h3>
	<h4> Загрузка новых документов </h4>
        <ol>
            <li>
                Для загрузки новых реестров формата (xls, xlsx) нужно выбрать вкладку верхнего меню «Загрузка новых реестров».
            </li>
            <li>
                В появившейся форме загрузки нужно выбрать файл реестра для загрузки. Название файла должно содержать только латинские буквы, в названии недопустимы пробелы и любые другие символы кроме «_».
            </li>
            <li>
                В текстовой поле  нужно ввести название реестра, название должно соответствовать субъекту РФ для которого составлен реестр.
            </li>
            <li>
                Нажать на кнопку «Загрузить».
            </li>
            <li>
                При выполнении загрузки могут быть выведены ошибки, которые необходимо исправить и снова загрузить файл.
            </li>
        </ol>

    <h4>Скачивание загруженных реестров</h4>
        <ol>
            <li>
                Для скачивания загруженного реестра нужно выбрать вкладку верхнего меню «Скачать реестр».
            </li>
            <li>
                Выбрать из списка нужный реестр и нажать на его название.
            </li>
            <li>
                Для актуализации загруженного реестра нужно установить пункт «Скачать для актуализации».
            </li>
        </ol>

    <h4>Актуализация загруженных реестров</h4>
        <ol>
            <li>
                Скачать реестр для актуализации.
            </li>
            <li>
                Внести изменения в соответствии с технологической инструкцией «Ведение реестров.....».
            </li>
            <li>
                 В скаченном реестре для актуализации есть служебные поля: «filename, id_reg, _id, _rev». Данные поля необходимы для корректной загрузки актуализированного реестра, их редактирования запрещено.
            </li>
            <li>
                Для загрузки реестров необходимо выбрать вкладку верхнего меню «Загрузка актуализированных реестров».
            </li>
            <li>
                В появившейся форме загрузки нужно выбрать файл актуализированного реестра для загрузки. Название файла должно содержать только латинские буквы, в названии недопустимы пробелы и любые другие символы кроме «_».
            </li>
            <li>
                В выпадающем списке выбрать реестр для актуализации.
            </li>
            <li>
                Нажать кнопку «Загрузить».
            </li>
            <li>
                При выполнении загрузки могут быть выведены ошибки, которые необходимо исправить и снова загрузить файл.
            </li>
        </ol>

{% endblock %}