{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form id="login_form" class="form-horizontal" method="POST" action="{{ url_for('login') }}" enctype=multipart/form-data>
        {{ form.csrf_token }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <button class="btn btn-success" type="submit">Зарегестрироваться</button>
    </form>

{% endblock %}