{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block body %}
	<h4>{{ title }}</h4>
	<span>Реестр должен находится на листе с названием 'Реестр'. Реестр должен начинаться со второй строки (включая названия колонок).</span>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	<form id="upload_form" class="form-horizontal" method="POST" action="{{ url_for('upload_file', type=type) }}" enctype=multipart/form-data>
        {{ form.csrf_token }}
	    {{ render_field(form.file) }}
		{% if type=='actual' %}
			{{ render_field(form.regs_select) }}
		{% else %}
			{{ render_field(form.reg_name) }}
		{% endif %}
	  	<button class="btn btn-success" type="submit">Загрузить</button>
	</form>
{% endblock %}


